/* .App {
  text-align: center;
  background-color: black;
} */

body{
  height: 90vh;
	width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}
input, button{
  padding: 10px;
  margin: 10px;
}

.button1 {
  background-color: #E63E6D; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #E63E6D; 
  color: black; 
  border: 2px solid #7D1935;
}

.button1:hover {
  background-color: #420516;
  color: white;
}


.App{
  width: 100%;
  text-align: center;
  margin-left: 30px;
  margin-top: 1px;
  background: linear-gradient(45deg, aqua, dodgerblue, deeppink);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color:#F3F1F5;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #B42B51;
  border: none;
  width: 30%;
  display: inline-block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  margin-bottom: 30px;
}