body {
    background-color: aquamarine;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: brown;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornsilk;
    font-weight: 900;
    font-style: oblique;
}